<!DOCTYPE html>
<html>
  <head>
    <title>QuizOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
<div class="row">
    <%= link_to 'Home', root_path %>

  <div>
    <%= link_to 'Add to Quiz', new_trivium_path %>
  </div>
</div>
  <body>
    <%= yield %>
  </body>
</html>
